<div class="issues">
    <h2>All Issues for {{ ::(issuesVm.repository.user + '/' + issuesVm.repository.name) }}</h2>
    <b>{{ issuesVm.repository.totalIssues }}</b> issues found

    <div class="pagination">
        <a class="left" ng-href="#" ng-if="issuesVm.pagination.currentPage > 1" ng-click="issuesVm.goToPreviousPage()"><i class="fa fa-chevron-left"></i>Previous</a>
        <a class="right" ng-href="#" ng-if="issuesVm.pagination.currentPage < issuesVm.pagination.totalPages" ng-click="issuesVm.goToNextPage()">Next<i class="fa fa-chevron-right"></i></a>
    </div>

    <label for="openIssuesOnly">Show Open issues Only</label>
    <!--TODO-abhi - Remember preference, so that on next page the filter is applied-->
    <input name="openIssuesOnly" id="openIssuesOnly" type="checkbox" ng-model="issuesVm.showOpenIssuesOnly" ng-change="issuesVm.loadIssues()"/>

    <ul class="list">
        <li data-ng-repeat="issue in issuesVm.repository.issues" ng-class="issue.state">
            <div class="user">
                <img class="user-image" ng-src="{{issue.user.avatar_url}}" alt=""/>
                <span class="name">{{ ::issue.user.login }}</span>
            </div>
            <div class="title">{{ ::issue.title }}</div>
            <div class="state">{{ ::issue.state }}</div>
        </li>
    </ul>
</div>